.hero {
  background-image: url(../../assets/wedding.jpg);
  background-size: cover;
  background-position-y: -10px;
  background-repeat: no-repeat;
  z-index: -1;
  height: 300px;
  width: 100%;
  background-position-y: -743px;
}