//pallette

$laurel-green: #99acb2;
$congo-pint:#FF958F;
$linen: #ebe2da;
$gold-crayola: #f2d0a9;
$grey: #58564f;
$black: #000;

@mixin phone {
  @media (max-width: 368px) { @content; }
}
@mixin tablet {
  @media (min-width: 768px) { @content; }
}
@mixin medium-tablet {
  @media (min-width: 992px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}
